*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  
  padding: 10px;
  background-color:rgb(14, 14, 94);
  display: flex;
  justify-content: space-between;
  
}
#btn{
  background-color: #080866;
  color: white;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0 0 7px rgb(167, 167, 247);
  width: 12em;
}
.child{
  display: block;
  margin: 10px auto;
  height: auto;
  width: 80vw;

}
.box1{
  margin: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 80%;
}
#text{
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  margin-bottom: 10px;
  color: black;
  padding: 15px;
  font-size: 20px;

}
#p1{
  font-size: 20px;
  font-weight: bold;
  margin: 5px auto;
}
#btn2{
  background-color: #080866;
  color: white;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0 0 7px rgb(167, 167, 247);
  width: 10em;
  margin: auto 10px;
}
.alert{
  width: 50vw;
  height: 100px;
  background-color: rgb(98, 241, 98);
  color:#3f2697;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(33, 163, 33);
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
nav{
  display: flex;
  margin: auto;
}
nav a{
  color: #1bc8c8;
  text-decoration: none;
  margin: 10px;
}