*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  padding: 10px;
  background-color: black;}
btn{
  background-color: rgb(2, 2, 53);
  padding: 5px;
  height: 30px;
  color: white;
}