*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  padding: 0;
  background-color: black;
}
#h1_contact{
  margin: 0;
}
