*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  padding: 0;
  /* background-color: black; */
}
h1{
  margin: 0;
}
#massage{
  width: 60vw;
  margin:10px auto;
  font-size: 20px;
  display: block;
}
#btn{
  background-color: rgb(1, 1, 73);
  color: white;
  padding: 3px;
  border-radius: 8px;
  margin: 8px;
  
}